.row-fluid
  .span6
    %h2 Existing Info
    .existing_info_div
      %table.table.table-striped.table-hover
        %tr
          %td.span5
            From
          %td.span7
            = @broker_email.from
        %tr
          %td.span5
            Subject
          %td.span7
            = @broker_email.subject
        %tr
          %td.span5
            Body
          %td.span7
            = simple_format @broker_email.body
        %tr
          %td.span5
            Attachments
          %td.span7#listing_attachments_container
            - @listing_nugget.broker_email_attachments.each do |attachment|
              = check_box_tag :listing_nugget_attachment,attachment.id,true
              = link_to File.basename(attachment.file.to_s),attachment.file.url,:class=>"btn btn-mini",:target=>"_blank"
              %br
              %br
        - if true#@listing_nugget.broker_email_attachments.count == 0
          %tr
            %td.span5
              Nugget Attachments
            %td.span7#nugget_attachments_container
              - @broker_email.nugget.nugget_signages.each do |signage|
                = check_box_tag :nugget_signage,signage.id,true
                = link_to File.basename(signage.signage.to_s),signage.signage.url,:class=>"btn btn-mini",:target=>"_blank"
                %br
                %br

        %tr
          %td.span5
            Address
          %td.span7
            = @nugget.signage_address
        %tr
          %td.span5
            City
          %td.span7
            = @nugget.signage_city
        %tr
          %td.span5
            State
          %td.span7
            = @nugget.signage_state
        %tr
          %td.span5
            Country
          %td.span7
            = @nugget.signage_county
    #preview_box.span12



  .span6
    %h2 New Listing Info
    %section#wizard
      #rootwizard
        .navbar
          .navbar-inner
            .container
              %ul
                %li
                  %a{"data-toggle" => "tab", :href => "#tab1"} Basic Info
                %li
                  %a{"data-toggle" => "tab", :href => "#tab2"} Building Info
                %li
                  %a{"data-toggle" => "tab", :href => "#tab3"} Listing Info
                %li
                  %a{"data-toggle" => "tab", :href => "#tab4"} Broker Info
        = simple_form_for(@listing, :html => {:class => "form-horizontal",:id=>"new_listing_form" }) do |f|
          .tab-content
            #tab1.tab-pane
              %h4 What type of listing?
              = f.input_field :listing_type, as: :radio_buttons, collection: ["lease"], :item_wrapper_class => 'inline',:checked=>"lease"
              = f.input_field :listing_type, as: :radio_buttons, collection: ["sale"], :item_wrapper_class => 'inline', :disabled => "disabled"
              %h4 Which Metro to list in?
              = f.input_field :metro_listed_in, as: :radio_buttons, collection: [ "Austin", "San Antonio"]
              = f.input_field :metro_listed_in, as: :radio_buttons, collection: [ "Houston","Dallas"], :disabled => "disabled"
              = f.input :listing_nugget_id, as: :hidden, input_html: {value: @listing_nugget.id}
              = text_field_tag :email_attachment_ids
              = text_field_tag :nugget_attachment_ids
            #tab2.tab-pane
              %h4 Building Info
              = f.input :building_name
              = f.input :unit_number
              = f.input :street_address
              = f.input :street_address2
              = f.input :street_address3
              = f.input :city
              = f.input :state_province,as: :select,collection: ["Tx"], include_blank: false
              -#= f.input :country
            #tab3.tab-pane
              %h4 Listing Info
              = f.input :unit_number
              = f.input :space
              = f.input :space_units,as: :select, collection: ["sq/ft"],include_blank: false
              = f.input :description
              = f.input :title
              = f.input :lease_rate
              = f.input :lease_rate_units,as: :select, collection: ["$/mo."],include_blank: false
            #tab4.tab-pane
              = f.input :broker_first_name
              = f.input :broker_last_name
              = f.input :broker_email
              = f.input :broker_phone
              = f.input :broker2_first_name
              = f.input :broker2_last_name
              = f.input :broker2_email
              = f.input :broker2_phone
              = f.input :brokerage_name
              = f.input :landlord_name
            %div#next_btn{:style => "float:right"}
              %input.btn.button-next{:name => "next", :type => "button", :value => "Next"}/
            %div#finish_btn{:style => "float:right;display:none;"}
              %input.btn.button-finish{:name => "btn", :type => "button", :value => "Finish"}/
            %div{:style => "float:left"}
              %input.btn.button-previous{:name => "previous", :type => "button", :value => "Previous"}/
        :javascript
          $('#rootwizard').bootstrapWizard({
            'nextSelector': '.button-next',
            'previousSelector': '.button-previous',
            onTabShow: function(tab, navigation, index) {
              var $total = navigation.find('li').length;
              var $current = index+1;
              if($current >= $total) {
                $('#rootwizard').find('#next_btn').hide();
                $('#rootwizard').find('#finish_btn').show();
              } else {
                $('#rootwizard').find('#next_btn').show();
                $('#rootwizard').find('#finish_btn').hide();
              }
            }
          });
          $("#rootwizard1").bootstrapWizard();
          $(".button-finish").click(function(){
            $("#new_listing_form")[0].submit();
          })
          $("#listing_attachments_container a, #nugget_attachments_container a").click(function(){
            filename = $(this).attr('href');
            ext = filename.substr(filename.lastIndexOf('.') + 1);
            image_extensions=["jpg","jpeg","png","gif"]
            if( $.inArray(ext, image_extensions) > -1 ){
               $("#preview_box").html('<img src="'+ filename + '" />');
            }else{
             window.open($(this).attr("href"), 'attachment', "menubar=0,location=0,height=700,width=700");
             return false;
            }
            return false;
          });