.row-fluid
  .span6
    hello
  .span6
    %section#wizard
      #rootwizard
        %ul
          %li
            %a{"data-toggle" => "tab", :href => "#tab1"} Basic Info
          %li
            %a{"data-toggle" => "tab", :href => "#tab2"} Building Info
          %li
            %a{"data-toggle" => "tab", :href => "#tab3"} Listing Info
          %li
            %a{"data-toggle" => "tab", :href => "#tab4"} Broker Info

        = simple_form_for(@listing, :html => {:class => "form-horizontal" }) do |f|
          .tab-content
            #tab1.tab-pane
              %h4 What type of listing?
              = f.input_field :listing_type, as: :radio_buttons, collection: [ "lease", "sale"], :item_wrapper_class => 'inline'
              %h4 Which Metro to list in?
              = f.input_field :listing_type, as: :radio_buttons, collection: [ ["Austin"], ["San Antonio"],["Houston","disabled"],["Dallas",false]]
            #tab2.tab-pane
              %h4 Building Info
              = f.input :building_name
              = f.input :unit_number
              = f.input :street_address
              = f.input :street_address2
              = f.input :street_address3
              = f.input :city
              = f.input :state_province
              -#= f.input :country
            #tab3.tab-pane
              %h4 Listing Info
              = f.input :unit_number
              = f.input :space
              = f.input :space_units
              = f.input :description
              = f.input :title
              = f.input :lease_rate
              = f.input :lease_rate_units
            #tab4.tab-pane
              = f.input :broker_first_name
              = f.input :broker_last_name
              = f.input :broker_email
              = f.input :broker_phone
              = f.input :broker2_first_name
              = f.input :broker2_last_name
              = f.input :broker2_email
              = f.input :broker2_phone
              = f.input :brokerage_name
              = f.input :landlord_name
          %ul.pager.wizard
            %li.previous.first{:style => "display:none;"}
              %a{:href => "#"} First
            %li.previous
              %a{:href => "#"} Previous
            %li.next.last{:style => "display:none;"}
              %a{:href => "#"} Last
            %li.next
              %a{:href => "#"} Next
            :javascript
              $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'});