.row-fluid
  .span6.well
    .row-fluid
      .span12
        %h4 Instructions
        %p
          Call this number:
          %strong
            = @nugget.signage_phone
      %h5 And tell them this:
    .row-fluid
      %p "Hi, this is #{@name}. I'm calling about a property my boss [or, "one of my co-workers"] saw for #{@listing_type} near #{@address} in #{@city}"
      %p "Could you email me the specs and some pics?"
      %p
        [If you get asked anything more specific, tell them it's your boss who saw the sign while he was driving and asked you to call and get the info.]
    .row-fluid
      %h5 Your Name & Email
    .row-fluid
      .span12.pagination-centered
        %h4 #{@name}
        %h4 #{@email}
  .span6
    %h3.pagination-centered Call Results
    :javascript
      // cancel
      $('#contact_broker button[data-dismiss="modal"]').on('click', function (e) {
        $.ajax({
          url: '#{unset_editable_time_nugget_path(@nugget)}',
          success: function( data ) {}
        });
      });
