.row-fluid
  .span6.pagination-centered
    .row-fluid
      %h5 Signage from #{render_date(@nugget.created_at)}
      %p Lease at approximate address: #{@nugget.address}
      %p #{number_to_phone(@nugget.signage_phone)}
      -#%p.border #{@nugget.id}
    .row-fluid
      - @nugget.nugget_signages.each do |s|
        %div.row-fluid
          %div.span12.pagination-centered
            =image_tag s.signage_url(:small)
  .span6.pagination-centered#duplicate_holder
    = render partial: "duplicate_signage",locals: {nugget: @nugget }
.row-fluid
  .span3.offset9
    = form_tag signage_unique_nugget_path(@nugget), method: "post" do
      = submit_tag "Done Completely", class: "btn btn-success btn-large span12"
      :javascript
        // cancel
        $('#dedup_signage button[data-dismiss="modal"]').on('click', function (e) {
          $.ajax({
            url: '#{unset_editable_time_nugget_path(@nugget)}',
            success: function( data ) {}
          });
        });