%h1 Listing nuggets

%table{cellspacing: 5, border:1}
  %tr
    %th id
    %th submitter
    %th submitted via
    %th date submitted
    %th google maps
    %th
    %th
    %th

  - @nuggets.each do |nugget|
    %tr
      %td= link_to nugget.id, edit_nugget_path(nugget)
      %td= nugget.submitter
      %td= nugget.submission_method
      %td #{time_ago_in_words(nugget.submitted_at)} ago
      %td #{nugget.latitude},#{nugget.longitude}

      %td= link_to 'Show', nugget
      %td= link_to 'Edit', edit_nugget_path(nugget)
      %td= link_to 'Destroy', nugget, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Nugget', new_nugget_path
