.row-fluid
  .span6.pagination-centered
    .row-fluid
      = image_tag @nugget.signage_url(:medium)
    .row-fluid
      - if @nugget.submitter_notes.present?
        ="submitter notes: #{@nugget.submitter_notes}"
  .span6
    .row-fluid.pagination-centered
      %h4 Do any of these apply?
      %button(type="button" id="blurry" class="btn btn-danger") Too Blurry To Read
      %h4
      %button(type="button" id="inappropriate" class="btn btn-warning") Inappropriate Image
      %h4
      %button(type="button" id="needs_rotation" class="btn btn-info") Image Needs Rotation
      :javascript
        // blurry
        $('#read_signage #blurry').on('click', function (e) {
          $.ajax({
            success: function( data ) {},
            url: '#{tag_as_blurry_nugget_path(@nugget)}'
          });
        });
        // inappropriate
        $('#read_signage #inappropriate').on('click', function (e) {
          $.ajax({
            success: function( data ) {},
            url: '#{tag_as_inappropriate_nugget_path(@nugget)}'
          });
        });
        // needs_rotation
        $('#read_signage #needs_rotation').on('click', function (e) {
          $.ajax({
            success: function( data ) {},
            url: '#{tag_as_needs_rotation_nugget_path(@nugget)}'
          });
        });
        // cancel
        $('#read_signage button[data-dismiss="modal"]').on('click', function (e) {
          $.ajax({
            success: function( data ) {},
            url: '#{unset_editable_time_nugget_path(@nugget)}'
          });
        });
        // submit form
        $('#read_signage_submit').on('click', function (e) {
          $('#edit_nugget_#{@nugget.id}').submit();
        });
    .row-fluid &nbsp;
    .row-fluid
      %h4 If none of above, then:
      = simple_form_for(@nugget,:url => update_signage_nugget_path(@nugget), :html => { :method => :put, :class => "form-horizontal" }) do |f|
        - if @nugget.errors.any?
          .row-fluid
            #error_explanation
              %h2= "#{pluralize(@nugget.errors.count, "error")} prohibited this nugget from being saved:"
              %ul
                - @nugget.errors.full_messages.each do |msg|
                  %li= msg

        %h5 Signage Phone
        = f.input_field :signage_phone, placeholder: '512-555-1212', required: false, :'data-validation-regex-regex' => "(?:(?:(\s*\(?([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*)|([2-9]1[02-9]|[2‌​-9][02-8]1|[2-9][02-8][02-9]))\)?\s*(?:[.-]\s*)?)([2-9]1[02-9]|[2-9][02-9]1|[2-9]‌​[02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})", :'data-validation-regex-message' => "Must be a phone number"
        :javascript
          $("#read_signage #nugget_signage_phone").jqBootstrapValidation();
          $alert('hi');

        %h5 Listing Type
        = f.input_field :signage_listing_type, as: :radio_buttons, collection: [ "lease", "sale"], :item_wrapper_class => 'inline'
