.row-fluid
  .span6.pagination-centered
    .row-fluid
      - if @nugget.submitter_notes.present?
        ="notes: #{@nugget.submitter_notes}"
    .row-fluid.pagination-centered
      - @nugget.nugget_signages.each do |s|
        =image_tag s.signage_url(:small), {id:"signage_#{s.id}", :"data-big"=>"#{s.signage_url(:medium)}"}
        %br
        %button(type="button" id="rotate_left" data-id="#{s.id}" class="btn btn-info btn-small")
          = '&lArr; rotate'.html_safe
        %button(type="button" id="rotate_right" data-id="#{s.id}" class="btn btn-info btn-small")
          = 'rotate &rArr;'.html_safe
        :javascript
          $("#signage_#{s.id}").mlens(
          {
            imgSrc: $("#signage_#{s.id}").attr("data-big"), // path of the hi-res version of the image
            lensShape: "circle",        // shape of the lens (circle or square)
            lensSize: 180,          // size of the lens (in px)
            borderSize: 4,          // size of the lens border (in px)
            borderColor: "#fff",        // color of the lens border (#hex)
            borderRadius: 0         // border radius (optional, only if the shape is square)
          });
          var angle_#{s.id} = 0;
          $('#review_signage #rotate_left[data-id="#{s.id}"]').on('click', function (e) {
            var id = $(this).data('id');
            angle_#{s.id} -= 90;
            $('#review_signage #signage_'+id).rotate({ animateTo:angle_#{s.id}})
          });
          $('#review_signage #rotate_right[data-id="#{s.id}"]').on('click', function (e) {
            var id = $(this).data('id');
            angle_#{s.id} += 90;
            $('#review_signage #signage_'+id).rotate({ animateTo:angle_#{s.id}})
          });
        %br
        %br
  .span6
    .row-fluid.pagination-centered
      -if @nugget.signage_tag_list.include? 'blurry'
        %h4 This Nugget was marked as
        %button(type="button" class="btn btn-large disabled") Too Blurry To Read
      -elsif @nugget.signage_tag_list.include? 'inappropriate'
        %h5 This Nugget was marked as
        %button(type="button" class="btn btn-large disabled") Inappropriate
      -else
        %h5 This Nugget was read as:
        %h4 phone: #{@nugget.signage_phone}
        %h4 lease or sale?: #{@nugget.signage_listing_type}

    .row-fluid
      %h1 &nbsp;

    .row-fluid.pagination-centered
      .span6
        %button(type="button" id="approve" class="btn btn-success") I AGREE
        %p nugget will continue to process
      .span6
        %button(type="button" id="reject" class="btn btn-danger") I REJECT
        %p nugget has not been correctly handled
      :javascript
        // approve
        $('#review_signage #approve').on('click', function (e) {
          $.ajax({
            url: '#{approve_signage_nugget_path(@nugget)}',
            success: function( data ) {
              location.href = '#{jobboard_path}'
            }
          });
        });
        // reject
        $('#review_signage #reject').on('click', function (e) {
          $.ajax({
            url: '#{reject_signage_nugget_path(@nugget)}',
            success: function( data ) {
              location.href = '#{jobboard_path}'
            }
          });
        });
        // cancel
        $('#review_signage button[data-dismiss="modal"]').on('click', function (e) {
          $.ajax({
            url: '#{unset_editable_time_nugget_path(@nugget)}'
          });
        });
