.row-fluid
  .span6.pagination-centered
    .row-fluid
      - @nugget.nugget_signages.each do |s|
        %button(type="button" id="rotate_left" data-id="#{s.id}" class="btn btn-info btn-small")
          = '&lArr; rotate'.html_safe
        = image_tag s.signage_url(:small), {id: "signage_#{s.id}"}
        %button(type="button" id="rotate_right" data-id="#{s.id}" class="btn btn-info btn-small")
          = 'rotate &rArr;'.html_safe
        :javascript
            var angle = 0;
            $('#review_signage #rotate_left').on('click', function (e) {
              var id = $(this).data('id');
              angle -= 90;
              $('#review_signage #signage_'+id).rotate({ animateTo:angle})
            });
            $('#review_signage #rotate_right').on('click', function (e) {
              var id = $(this).data('id');
              angle += 90;
              $('#review_signage #signage_'+id).rotate({ animateTo:angle})
            });
        %br
    .row-fluid
      - if @nugget.submitter_notes.present?
        ="submitter notes: #{@nugget.submitter_notes}"
  .span6
    .row-fluid.pagination-centered
      -if @nugget.signage_tag_list.include? 'blurry'
        %h4 This Nugget was marked as
        %button(type="button" class="btn btn-large disabled") Too Blurry To Read
      -elsif @nugget.signage_tag_list.include? 'inappropriate'
        %h5 This Nugget was marked as
        %button(type="button" class="btn btn-large disabled") Inappropriate
      -else
        %h5 This Nugget was read as:
        %h4 phone: #{@nugget.signage_phone}
        %h4 lease or sale?: #{@nugget.signage_listing_type}

    .row-fluid
      %h1 &nbsp;

    .row-fluid.pagination-centered
      .span6
        %button(type="button" id="approve" class="btn btn-success") I AGREE
        %p nugget will be moved along
      .span6
        %button(type="button" id="reject" class="btn btn-danger") I REJECT
        %p nugget has not been correctly handled
      :javascript
        // approve
        $('#review_signage #approve').on('click', function (e) {
          $.ajax({
            url: '#{approve_signage_nugget_path(@nugget)}',
            success: function( data ) {
              location.href = '#{jobboard_path}'
            }
          });
        });
        // reject
        $('#review_signage #reject').on('click', function (e) {
          $.ajax({
            url: '#{reject_signage_nugget_path(@nugget)}',
            success: function( data ) {
              location.href = '#{jobboard_path}'
            }
          });
        });
        // cancel
        $('#review_signage button[data-dismiss="modal"]').on('click', function (e) {
          $.ajax({
            url: '#{unset_editable_time_nugget_path(@nugget)}'
          });
        });
