.row-fluid
  .span6.pagination-centered
    = image_tag @nugget.signage_url(:medium)
  .span6
    .row-fluid.pagination-centered
      -if @nugget.signage_tag_list.include? 'blurry'
        %h4 This Nugget was marked as
        %button(type="button" class="btn btn-large") Too Blurry To Read
      -elsif @nugget.signage_tag_list.include? 'inappropriate'
        %h5 This Nugget was marked as
        %button(type="button" class="btn btn-large") Inappropriate
      -elsif @nugget.signage_tag_list.include? 'needs_rotation'
        %h5 This Nugget was marked as
        %button(type="button" class="btn btn-large") Image Needs Rotation
      -else
        %h5 This Nugget was read as:
        %h4 phone: #{@nugget.signage_phone}
        %h4 lease or sale?: #{@nugget.signage_listing_type}

    .row-fluid &nbsp;
    .row-fluid.pagination-centered
      .span6
        %button(type="button" id="approve" class="btn btn-success") I AGREE
        %p nugget will be moved along
      .span6
        %button(type="button" id="reject" class="btn btn-danger") REJECT
        %p nugget has not been correctly handled
      :javascript
        // approve
        $('#review_signage #approve').on('click', function (e) {
          $.ajax({
            url: '#{approve_signage_nugget_path(@nugget)}',
            success: function( data ) {
              location.href = '#{jobboard_path}'
            }
          });
        });
        // reject
        $('#review_signage #reject').on('click', function (e) {
          $.ajax({
            url: '#{reject_signage_nugget_path(@nugget)}',
            success: function( data ) {
              location.href = '#{jobboard_path}'
            }
          });
        });
        // cancel
        $('#review_signage button[data-dismiss="modal"]').on('click', function (e) {
          $.ajax({
            url: '#{unset_editable_time_nugget_path(@nugget)}'
          });
        });
