%p#notice= notice
%p
  %b Submitter:
  = @nugget.submitter
%p
  %b Submitted via:
  = @nugget.submission_method
%p
  %b Submitted on:
  = @nugget.submitted_at
%p
  %b Longitude/Latitude:
  #{@nugget.latitude}, #{@nugget.longitude}

%p
  %b I think signage url is:
  = @nugget.signage.url
%p
  -#= image_tag(@nugget.signage_url)

= link_to 'Edit', edit_nugget_path(@nugget)
\|
= link_to 'Back', nuggets_path
