<h1><%= @nugget.signage_address %></h1>

<fieldset>
  <legend>Photos</legend>
  <p>Click any photo below to see the full size image in a new window or tab.</p>
  <% @nugget.nugget_signages.each do |s| -%>
    <a href="<%= s.signage_url %>" target="_blank">
      <img class="img-rounded" src="<%= s.signage_url(:small) %>">&nbsp;
    </a>
  <% end -%>
</fieldset>
<hr>
<fieldset>
  <legend>Property</legend>
  <div class="row">
    <div class="span8">
      <table class="table table-hover">
        <tr>
          <th>Status</th>
          <th>Location</th>
          <th>Submitted by</th>
        </tr>

        <tr>
          <td><%= @nugget.state %></td>
          <td><%= @nugget.signage_address %><br>
              <small><%= @nugget.signage_neighborhood %><br>
                                  <%= @nugget.signage_intersection unless @nugget.signage_intersection.blank? %>
              </small></td>
          <td><a href="mailto:<%= @nugget.submitter %>"><%= @nugget.submitter %></a><br>
              <small>Submitted about <%= time_ago_in_words(@nugget.submitted_at) %> ago.</small>
          </td>
        </tr>
      </table>
    </div>

    <div class="span4">
      <p>Submitter notes:</p>

      <p><%= @nugget.submitter_notes %></p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Broker</legend>
  <div class="row">
    <div class="span6">
      <p>
        <strong>Signage phone:</strong> <%= number_to_phone(@nugget.signage_phone) %><br>
        <strong>Listing type:</strong>  <%= @nugget.signage_listing_type %><br>
        <strong>Fake Contact:</strong>  <%= @nugget.contact_broker_fake_name %> - <%= @nugget.contact_broker_fake_email %>
      </p>
    </div>

    <div class="span6">
      <h4>Broker Calls</h4>
      <% @nugget.broker_calls.each do |c| -%>
        <p>
          <strong>Broker name:</strong>
            <%= c.broker_name %> &lt;<%= link_to c.broker_email, "mailto:#{c.broker_email}" %>&gt;<br>
          <strong>Caller:</strong>
            <%= c.caller.name %> &lt;<%= link_to c.caller.email, "mailto:#{c.caller.email}" %>&gt;<br>
          <strong>Logged at:</strong> <%= c.created_at %><br>
          <strong>Call result:</strong> <%= c.call_result %><br>
          <strong>Call comments:</strong> <%= c.call_comments %>
        </p>
      <% end -%>
    </div>




  </div>
</fieldset>

<small><a href="#" id="reveal_all_db_props">Click here to show/hide all database properties for this nugget.</a></small>
<div id="nugget_db_props">
<% @nugget.attributes.each do |k,v| -%>
  <p><strong><%= k %></strong>: <%= v %></p>
<% end -%>

<p>
  <%= button_to "DELETE NUGGET", nugget_path(@nugget), method: :delete, confirm: "Are you absolutely certain? You can't undo this!", class: 'btn btn-danger btn-large' %>
  WARNING: This action cannot be undone. Don't click unless you're certain.
</p>

</div>