%h2 I am the future home of a dashboard

%h4 All Nuggets (#{@nuggets.count})

%h4{class: 'alert-success'} Intern Elves: (#{@signage_received_nuggets.count + @signage_reviewable_nuggets.count})
%p Signage Received (#{@signage_received_nuggets.count})
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'signage_received')
  = button_tag("No GPS", value: 'no_gps', name: 'event', type: 'submit', disabled: (@signage_received_nuggets.count == 0))
  = button_tag("Ready to Review", value: 'signage_reviewable', name: 'event', type: 'submit', disabled: (@signage_received_nuggets.count == 0))
%p
  Signage Reviewable (#{@signage_reviewable_nuggets.count})
  -if @signage_reviewable_nuggets.last
    (most recent: #{time_ago_in_words(@signage_reviewable_nuggets.last.submitted_at)} ago)
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'signage_reviewable')
  = button_tag("Send to QA", value: 'signage_review_check', name: 'event', type: 'submit', disabled: (@signage_reviewable_nuggets.count == 0))

%h4{class: 'alert-success'} Quality Hobbits: (#{@signage_review_check_nuggets.count})
%p Perform QA (#{@signage_review_check_nuggets.count})
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'signage_review_check')
  = button_tag("Blurry", value: 'blurry', name: 'event', type: 'submit', disabled: (@signage_review_check_nuggets.count == 0))
  = button_tag("Inappropriate", value: 'inappropriate', name: 'event', type: 'submit', disabled: (@signage_review_check_nuggets.count == 0))
  = button_tag("REJECTED", value: 'reject_signage_review', name: 'event', type: 'submit', disabled: (@signage_review_check_nuggets.count == 0))
  = button_tag("LOOKS GREAT!", value: 'ready_to_contact_broker', name: 'event', type: 'submit', disabled: (@signage_review_check_nuggets.count == 0))

%h4{class: 'alert-success'} Veteran Gnomes: (#{@ready_to_contact_broker_nuggets.count + @broker_contacted_nuggets.count})
%p Ready to contact Broker (#{@ready_to_contact_broker_nuggets.count})
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'ready_to_contact_broker')
  = button_tag("Broker Contacted", value: 'broker_contacted', name: 'event', type: 'submit', disabled: (@ready_to_contact_broker_nuggets.count == 0))

%p Broker Contacted (#{@broker_contacted_nuggets.count})

%h4{class: 'alert-error'} Problem nuggets: (#{@no_gps_nuggets.count + @blurry_nuggets.count + @inappropriate_nuggets.count})
%p No GPS (#{@no_gps_nuggets.count})
%p Blurry (#{@blurry_nuggets.count})
%p Inappropriate (#{@inappropriate_nuggets.count})
%p{class: 'alert-error'} REJECTED (#{@rejected_nuggets.count})
