%h2 I am the future home of a dashboard

%h4 All Nuggets (#{@nuggets.count})

%h4{class: 'alert-success'} Crowd Source: (#{@initial_nuggets.count})
%p Initial (#{@initial_nuggets.count})
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'initial')
  = button_tag("No GPS", value: 'no_gps', name: 'event', type: 'submit', disabled: (@initial_nuggets.count == 0))
  = button_tag("Read Signage", value: 'signage_read', name: 'event', type: 'submit', disabled: (@initial_nuggets.count == 0))

%h4{class: 'alert-success'} Intern Elves: (#{@signage_read_nuggets.count + @signage_reviewed_nuggets.count})
%p Signage Read (#{@signage_read_nuggets.count})
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'signage_read')
  = button_tag("Send to QA", value: 'signage_review', name: 'event', type: 'submit', disabled: (@signage_read_nuggets.count == 0))

%h4{class: 'alert-success'} Quality Gnomes: (#{@signage_reviewed_nuggets.count})
%p Perform QA (#{@signage_reviewed_nuggets.count})
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'signage_reviewed')
  = button_tag("Confirm Blurry", value: 'blurry', name: 'event', type: 'submit', disabled: (@signage_reviewed_nuggets.count == 0))
  = button_tag("Confirm Inappropriate", value: 'inappropriate', name: 'event', type: 'submit', disabled: (@signage_reviewed_nuggets.count == 0))
  = button_tag("Confirm Needs Rotation", value: 'needs_rotation', name: 'event', type: 'submit', disabled: (@signage_reviewed_nuggets.count == 0))
  = button_tag("REJECT", value: 'signage_reject', name: 'event', type: 'submit', disabled: (@signage_reviewed_nuggets.count == 0))
  = button_tag("LOOKS GREAT!", value: 'signage_approve', name: 'event', type: 'submit', disabled: (@signage_reviewed_nuggets.count == 0))

%h4{class: 'alert-success'} Veteran Gnomes: (#{@ready_to_contact_broker_nuggets.count + @awaiting_broker_response_nuggets.count})
%p Ready to contact Broker (#{@ready_to_contact_broker_nuggets.count})
= form_tag(transition_nuggets_path) do
  = hidden_field_tag('state', 'ready_to_contact_broker')
  = button_tag("Broker Contacted", value: 'broker_contact', name: 'event', type: 'submit', disabled: (@ready_to_contact_broker_nuggets.count == 0))

%p Broker Contacted (#{@awaiting_broker_response_nuggets.count})

%h4{class: 'alert-error'} Problem nuggets: (#{@no_gps_nuggets.count + @blurry_nuggets.count + @inappropriate_nuggets.count + @needs_rotation_nuggets.count})
%p No GPS (#{@no_gps_nuggets.count})
%p Blurry (#{@blurry_nuggets.count})
%p Inappropriate (#{@inappropriate_nuggets.count})
%p Needs Rotation (#{@needs_rotation_nuggets.count})

%h4{class: 'alert-error'} Rejected nuggets: (#{@rejected_nuggets.count})
%p{class: 'alert-error'} REJECTED (#{@rejected_nuggets.count})

%h4{class: 'alert-warning'} Convenience methods:
= form_tag(nuggets_path, method: "post") do
  = button_tag("Create Raw Nugget", type: 'submit')
= form_tag(nuggets_path, method: "post") do
  = hidden_field_tag('state', 'signage_read')
  = button_tag("Create Read Signage Nugget", type: 'submit')
