#jobs
  .box.size85.blue
    %br
    %p.jobtype Read Signage
    %h1.count #{@read_signage_jobs_count} jobs
    %br
    %a.btn.btn-large{:href => read_signage_nuggets_path, :'data-target'=>"#read_signage", :remote => true, :role => "button", :'data-toggle' => "modal", disabled: @read_signage_jobs_count==0 ? true : false}DO WORK

  .box.size85.cyan
    %br
    %p.jobtype Review Signage
    %h1.count #{@review_signage_jobs_count} jobs
    %br
    %a.btn.btn-large{:href => review_signage_nuggets_path, :'data-target'=>"#review_signage", :remote => true, :role => "button", :'data-toggle' => "modal", disabled: @review_signage_jobs_count==0 ? true : false}DO WORK

  .box.size85.green
    %br
    %p.jobtype De-dupe Signage
    %h1.count #{@check_signage_duplicate_count} jobs
    %br
    %a.btn.btn-large{:href => dedupe_signage_nuggets_path, :'data-target'=>"#dedup_signage", :remote => true, :role => "button", :'data-toggle' => "modal", disabled: @check_signage_duplicate_count==0 ? true : false}DO WORK

  .box.size85.yellow
    %br
    %p.jobtype Contact Broker
    %h1.count #{@ready_to_contact_broker_count} jobs
    %br
    %a.btn.btn-large{:href => contact_broker_nuggets_path, :'data-target'=>"#contact_broker", :remote => true, :role => "button", :'data-toggle' => "modal", disabled: @ready_to_contact_broker_count==0 ? true : false}DO WORK

  .box.size85.orange
    %br
    %p.jobtype Parse Info From Broker Email
    %h1.count #{@parse_info_from_broker_emails_jobs_count} jobs
    %br
    %a.btn.btn-large{:href => parse_broker_emails_path, :'data-target'=>"#parse_broker_email", :remote => true, :role => "button", :'data-toggle' => "modal"}DO WORK


#read_signage(class="modal hide fade" tabindex="-1" data-width="760" data-backdrop="static" data-keyboard="false")
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")×
    %h3 Read Signage
  .modal-body
  .modal-footer
    %button(type="button" data-dismiss="modal" class="btn") Close
    %button(type="button" class="btn btn-primary" id="read_signage_submit") SAVE

#review_signage(class="modal hide fade" tabindex="-1" data-width="760" data-backdrop="static" data-keyboard="false")
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")×
    %h3 Review Signage
  .modal-body
  .modal-footer
    %button(type="button" data-dismiss="modal" class="btn") Close

#dedup_signage(class="modal hide fade" tabindex="-1" data-width="760" data-backdrop="static" data-keyboard="false")
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")×
    %h3 Dedup Signage
  .modal-body
  .modal-footer
    %button(type="button" data-dismiss="modal" class="btn") Close

#contact_broker(class="modal hide fade" tabindex="-1" data-width="820" data-backdrop="static" data-keyboard="false")
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")×
    %h3 Contact Broker
  .modal-body
  .modal-footer
    %button(type="button" data-dismiss="modal" class="btn") Close
    -#%button(type="button" class="btn btn-primary" id="contact_broker_submit") BROKER CONTACTED

#parse_broker_email(class="modal hide fade" tabindex="-1" data-width="820" data-backdrop="static" data-keyboard="false")
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")×
    %h3 Parse Email From Broker
  .modal-body
  .modal-footer
    %button(type="button" data-dismiss="modal" class="btn") Close

:javascript
  $(document).ready( function() {
    $("#jobs").nested({selector: '.box', resizeToFit: false});
  });