%ol.attachment_holder.clearfix{:"data-tab_id"=>"#{listing_nugget.id}"}
  -if listing_nugget.class.name == "ListingNugget"
    - listing_nugget.broker_email_attachments.each do |attachment|
      %li
        = link_to File.basename(attachment.file.to_s),"#",:class=>"btn btn-mini"
%h3 #{listing_nugget.id}
= form_for listing_nugget do |f|
  .row-fluid
    .span2
      From:
    .span10
      = f.text_field :broker_email_from,:class=>"input-block-level",:disabled=>:disabled
  .row-fluid
    .span2
      To:
    .span10
      = f.text_field :broker_email_to,:class=>"input-block-level",:disabled=>:disabled
  .row-fluid
    .span2
      Subject:
    .span10
      = f.text_field :broker_email_subject,:class=>"input-block-level"
  .row-fluid
    .span2
      Body:
    .span10
      = f.text_field :broker_email_body,:rows=>10,:class=>"input-block-level"